@charset "UTF-8";
/* CSS Document */

body {
	margin:0;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	line-height:20px;
	background-color:#000;
	color:#FFF;
}

img{
	border:none;
}


.clear {
	clear:both;
}

h1 {
	font-size:21px;
	font-weight:400;
	padding-bottom:5px;
	font-style:normal;
	color:#759A3C;
	font-family: 'Oswald', sans-serif;
	border-bottom:1px dotted #FFF;
}
h2 {
	font-size:21px;
	font-weight:400;
	padding-bottom:5px;
	font-style:normal;
	color:#EA118D;
}


#wrapper {
	width:1100px;
	margin:auto;
}

#head {
	height:160px;
	background-image:url();
}

#redes-sociales {
	height:63px;
	text-align: right;
	padding-top: 47px;
	padding-right: 61px;
}

#menu-general {
	height:48px;
	font-size:21px;
	font-weight:300;
	font-style:normal;
	font-family: 'Oswald', sans-serif;
}

#logo {
	position: absolute;
	width:163px;
	z-index: 9999;
}
.logo {
	position: absolute;
	top:-100px;
	left:460px;
}

#menuizquierdo {
	float:left;
	width:335px;
	padding-left:70px;
	height: 33px;
	padding-top:15px;
}
a.glow, a.glow:hover, a.glow:focus
{
	text-decoration: none;
		color: #aaf;
	text-shadow: none;
	-webkit-transition: 500ms linear 0s;
	-moz-transition: 500ms linear 0s;
	-o-transition: 500ms linear 0s;
	transition: 500ms linear 0s;
	outline: 0 none;
}
a.glow:hover, a.glow:focus
{
		color:#EA118D;
	text-shadow: -1px 1px 13px #CCC, 1px -1px 13px #CCC;
}
#menu{
list-style:none;
	padding:0px;
	margin:0px;
}

#menu li{
float:left;
height:48px;
}
#menu li a{
color:#FFF;
border-right:dotted #FFF 1px;
	text-decoration:none;
	padding-left:20px;
	padding-right:20px;
	display:block;
	-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.4s ease;
transition: all 0.4s ease;
}

#menu li a:hover{
	}
#menu li ul{
	margin-top:16px;
width:200px;
min-height:150px;
background:#F8F8F8;
display:none;
position:absolute;
z-index:999;
text-transform:none;
}
#menu li ul li{
color:#FFF;
	text-align:center;
	text-decoration:none;
	width:200px;
	height:25px;
	padding-top:10px;
}
#menu li ul li a{
color:#FFF;
display:block;
text-decoration:none;
	font-size:16px;
	height:25px;
	padding-top:10px;
	border-right:none;
	border-bottom:1px solid #999;
	-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.4s ease;
transition: all 0.4s ease;
}

#menu li ul li a:hover{
background-color:#FFF;
color:#444;
text-decoration:none;
}

#menu li:hover ul{
	display:block;
	background: rgba(35, 31, 32, 0.7);
}
#menuderecho {
	float:right;
	text-align:left;
	width:385px;
	padding-right:55px;
	height: 33px;
	padding-top:15px;
}

#menuderecho ul{
	list-style:none;
	display:inline;
	float:right;
	margin:0;
	padding:0px;
}
#menuderecho li{
	float:left
}
#menuderecho li a{
	color:#FFF;
border-right:dotted #FFF 1px;
	text-decoration:none;
	padding-left:10px;
	padding-right:10px;
	display:block;
	-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.4s ease;
transition: all 0.4s ease;
	}
	#menuderecho li a:hover{
	}
		.menuderecho-seleccion {
		background-color:#000;
	text-align:center;
	text-decoration:none;
	padding-left:10px;
	padding-right:10px;
	display:block;
	padding-top:10px;
	color:#FFF;
	}
	.titulo-blanco{
		font-family: 'Oswald', sans-serif;
		color:#FFF;
		font-weight:400;
		font-size:47px;
		 text-shadow: 3px 1px 10px #000;

	}
	.titulo-rosa{
		font-family: 'Oswald', sans-serif;
	color:#EA118D;
		font-size:47px;
		 text-shadow: 3px 1px 10px #000;
	}
	.titulo-verde{
		font-family: 'Oswald', sans-serif;
	color:#759A3C;
		font-size:47px;
		 text-shadow: 3px 1px 10px #000;
	}
	.titulo-dorado{
		font-family: 'Oswald', sans-serif;
	color:#C17D11;
		font-size:47px;
		 text-shadow: 3px 1px 10px #000;
	}
	
	#banner-principal{
	clear:both;
	width:1100px;
	margin:auto;
	border-bottom: 1px solid #999;
	}
.bxslider{
	padding:0px;
	margin:0px;
	}
	.fondobanner{
	}
.banner1{
	width:1100px;
	margin:auto;
	color:#333;
	background-image:url();
	height: 580px;
}
.banner2{
	width:1100px;
	margin:auto;
	color:#333;
	background-image:url();
	height: 580px;
}
.banner3{
	width:1100px;
	margin:auto;
	color:#333;
	background-image:url();
	height: 580px;
}
.info{
	color:#FFF;
}
.textobanner{
	float: right;
	padding-top:70px;
	color:#FFF;
	width: 430px;
	padding-right: 45px;
}
.textobanner2{
	float:left;
	padding-top:70px;
	color:#FFF;
	width: 430px;
	padding-left: 45px;
}
.contenidobanner{
	background: rgba(0, 0, 0, 0.5);
	border-radius:4px;
	padding:8px;
}
.leermas{
	padding-top: 20px;
	text-align: right;
	padding-right: 10px;
}

#logo-marca{
	text-align:center!important;
}

#inicio-inferior{
	margin-top:30px;
	margin-bottom: 30px;
}



#inicio-inferior ul{
	list-style:none;
	margin:0;
	padding:0;
}
#inicio-inferior li{
	width:338px;
	padding:0;
	float:left;
	padding-left:12px;
	padding-right:12px;
}


.servicio {
	width:338px;
}
.servicio-foto {
	text-decoration:none;
}

.texto-inferior-inicio {
	border-left:dotted 1px #EA118D;
	margin-left:5px;
}
.servicio-texto {
	font-size:12px;
	font-family: 'Open Sans', sans-serif;
	padding-left: 20px;
	color: #BDBEBF;
}

.boton-leermas {
	background-image:url();
	height:38px;
	text-align: right;
	padding-right: 10px;
	padding-left: 20px;
	padding-top: 5px;
}


#noticias{
	padding-top:65px;
	margin-bottom: 30px;
	width: 1000px;
	margin: auto;
}
#noticias ul{
	list-style:none;
	margin:0;
	padding:0;
}
#noticias li{
	float:left;
}
.noticia {
	margin-bottom: 20px;
	margin-top: 10px;
}
.noticia-foto {
	float:left;
	width: 253px;
	margin: 10px;
}
.noticia-texto {
	float:right;
	width: 700px;
	padding: 10px;
}
.noticia-titulo{
	background-image:url();
	height: 30px;
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	font-weight:400;
	padding-top: 15px;
	padding-left: 10px;
	margin-bottom: 20px;
	background-repeat: repeat-y;
}
.noticia-titulo a, .noticia-titulo a:hover {
	color:#FFF;
	text-decoration:none;
}
.noticia-leermas{
	font-family: 'Oswald', sans-serif;
	font-weight:400;
	padding: 5px;
	border:1px dotted #EA118D;
	width: 10%;
	text-align: center;
	margin-top: 20px;
	float: right;
}
.noticia-leermas a, .noticia-leermas a:hover {
	color:#FFF;
	text-decoration:none;
}
#aviso{
	padding-top:65px;
	margin-bottom: 30px;
	width: 1000px;
	margin: auto;
}
#aviso a, #aviso a:hover {
	color:#FFF;
	text-decoration:none;
}
#interiores{
	padding-top:65px;
	margin-bottom: 30px;
	width: 1000px;
	margin: auto;
}
#interiores ul{
	list-style:none;
	margin:0;
	padding:0;
}
#interiores li{
	width:458px;
	float:left;
	padding-left:12px;
	padding-right:12px;
	min-height:400px;
}
.nosotros {
	width:458px;
}
.nosotros-foto {
}
.nosotros-texto {
	text-align: center;
	color:#759A3C;
	font-style:italic;
	font-size:15px;
	padding-top: 10px;
}


#interiores-historia{
}
#interiores-historia-izq{
	float:left;
}
#interiores-historia-derecho{
	float:right;
	width: 670px;
	padding-top: 30px;
}
#balazo-historia{
	text-align: center;
	color:#759A3C;
	font-style:italic;
	font-size:15px;
	margin-bottom: 30px;
}
#texto-historia{
	border-left:dotted 1px #EA118D;
	padding-left:20px;
}

#contacto-distribucion{
	margin-top:250px;
	text-align: center;
	width: 470px;
	font-size: 14px;
	line-height: 24px;
	background: rgba(35, 31, 32, 0.7);
	margin-left: 50px;
	padding: 5px;
}
#contacto-derecho{
	background-image:url();
	width:595px;
	min-height:560px;
	float:right;
}
#contacto-izq{
	float:left;
	width:405px;
}
#contacto-izq a, #contacto-izq a:hover {
	text-decoration:none;
	color:#FFF;
}
.campo{
	width:320px;
	height:24px;
	border:0;
}
.area{
	width:318px;
	height:101px;
	border:0;
}
.botonenviar{
	border:dotted 1px #EA118D;
	color:#FFF;
	text-align:center;
	font-size:13px;
	font-weight:400;
	width:72px;
	height:32px;
	background-color:#000;
}
.regresar-seccion{
	color:#FFF;
	text-align:center;
	font-size:13px;
	font-weight:400;
	width:152px;
	height:24px;
	padding-top: 4px;
	font-family: 'Oswald', sans-serif;
	font-weight:400;
	background-color:#666;
	border-radius:5px;
	margin-top:30px;
	margin-bottom:10px;
}

.regresar-seccion a, .regresar-seccion a:hover {
	color:#FFF;
	text-decoration:none;
}


#galeria-interior{
	padding-top:65px;
	margin-bottom: 30px;
	width: 1000px;
	margin: auto;
}

#productos{
	padding-top:65px;
	background-image:url();
	background-repeat:no-repeat;
	width: 1000px;
	margin: auto;
}
#productos ul{
	list-style:none;
	margin:0;
	padding:0;
}
#productos li{
	width:458px;
	float:left;
	padding-left:12px;
	padding-right:12px;
	min-height:400px;
	margin-top:30px;
}
.producto {
	width:481px;
}
.foto-producto {
	width:154px;
	float:left;
}
.texto-producto {
	float:right;
	width: 327px;
	margin-top: 20px;
}
.titulo-producto {
	background-image:url();
	width: 315px;
	height: 35px;
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	font-weight:400;
	padding-top: 15px;
	padding-left: 20px;
}
.titulo-producto a, .titulo-producto a:hover  {
	color:#FFF;
	text-decoration:none;
}

.introduccion-producto {
	padding-left:20px;
}
.info-producto {
		border-left:dotted 1px #EA118D;
	margin-top:20px;
	padding-left:10px;
}
.conoce-producto {
	font-family: 'Oswald', sans-serif;
	font-weight:400;
	color:#759A3C;
	text-align: right;
	margin-top: 100px;
	font-size: 15px;
}
.conoce-producto a, .conoce-producto a:hover {
	text-decoration:none;
	color:#759A3C;
}

#ficha-tecnica {
	padding-top: 65px;
}
#ficha-tecnica-foto {
	float:left;
	width:321px;
}
#ficha-tecnica-texto {
	float:right;
	width: 775px;
}
#ficha-tecnica-texto-derecha {
	float:right;
	width: 380px;
	padding-top: 10px;
}
#ficha-tecnica-texto-izq {
	float:left;
	width: 380px;
	padding-top: 10px;
}
.titulo-ficha {
	font-size:14px;
	font-style:normal;
	font-family: 'Oswald', sans-serif;
	color:#DE007E;
	text-transform:uppercase;
}

#foto-quienes {
	width:100%
}





#pie {
	background-image:url();
	background-repeat:no-repeat;
	background-position:top;
	text-align: center;
	padding-top: 20px;
	margin-bottom: 20px;
}
.pie {
	color:#EA118D;
	border-bottom:dotted 1px #FFF;
	font-size:11px;
	padding-bottom:2px;
}
#pie a, #pie a:hover {
	text-decoration:none;
	color:#FFF;
}
.item{
	position:relative;
	float:left;
	width:240px;
	height:240px;
	margin:5px;
	background-color:#EEE;
	}
	.item img{
	width:100%;
	height:100%;
	}
.width2{
	width:490px;
	}
	.height2{
	height:490px;
	}
